.App {
  text-align: center;
  
}

.product{
  display: inline-block;
  border: 2px solid black;
  margin: 2em;
  width: 300px;
  height: 400px;
  
}
img {
  width: 300px;
  height: 200px;
}
#cart{
  position: fixed;
  top: 0;
  right: 10px;
 
}

#addtocart  {
 
  padding: 10px 10px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  
}

#addtocart:hover {
 
  background-color: #ddd;

}
#cartval{

border: 2px solid black;
text-align: center;
background-color: black;
color: white;
margin: 4px 2px;
transition: 0.3s;
}
#cartval:hover {
 
  background-color: #ddd;

}
.topbtn{
  display: flex;
  
  justify-content: space-around;
  max-width: 200px;
  margin: 0 auto;
  
  
}

.checked {
  color: orange;
}